<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap"
      rel="stylesheet"
    />    
    <script 
    src="https://kit.fontawesome.com/7d9bf93e9d.js" 
    crossorigin="anonymous">
    </script>
    <title>ECF_aout2020</title>
</head>
<body>

  
    <header>
        <h2 class="vp-logo">
            <i class="fas fa-crown"></i>
            <a href="#">les inédits</a>
        </h2>

    </header>
    
    <nav>
        <a href="#">TECH</a>
        <a href="#">MODE</a>
        <a href="#">SPORT</a>


        
        
        
     
        <div class='container'>
            <input type="text" id="searchInput" placeholder="Search..">
            <div id='submitsearch' >
              
            </div>
          </div> 
      </nav>
     
    
  <div>  
      <main>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 1">
            <p class="article-author">Nom du produit</p>
          <p class="text-hint">
           Cette article vaut 500 euros
            <i class="fas fa-star mx-1"></i>
          </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 2">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 3">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 4">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 5">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 6">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 7">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 8">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 9">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 10">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-11.jpeg" alt="Image 11">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-12.jpeg" alt="Image 12">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 13">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 14">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
        <article>
            <img src="img/bloc-10.jpeg" alt="Image 15">
            <p class="article-author">Nom du produit</p>
            <p class="text-hint">
             Cette article vaut 500 euros
              <i class="fas fa-star mx-1"></i>
            </p>
        </article>
    </main>
</div>
    <footer>
        <a href="#">
            <i class="fab fa-twitter"></i>
            <span class="not-important">Twitter</span>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
            <span class="not-important">Instagram</span>
        </a>
        <a href="#">
            <i class="fab fa-snapchat-ghost"></i>
            <span class="not-important">Snapchat</span>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
            <span class="not-important">YouTube</span>
        </a>
        <span>© Copyright 2020</span>
    </footer>

    <script src="script.js"></script>
</body>
</html>